
<div class="row" style="padding: 10px 0;">
    <div class="col-12">
        <div class="row">
            {% for product in products %}
            <div class="card mb-6" style="height: 10rem; width: 23rem; margin: 5px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{{product.image.url}}" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{product.title}}</h5>
                      <p class="card-text">$ {{product.price}}</p>
                      <a href="{% url 'add' product.id %}" class="btn btn-primary" style="font-display: 4;">Agregar al Carrito</a>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
        </div>
     </div>
</div>